<etats>
    <span class="status busy"></span>
    <span class="status offline"></span>
    <span class="status away"></span>
</etats>

<user>
    <li class="person active-user" data-chat="person2">
    <li class="person" data-chat="person1">
</user>

<li class="person active-user" data-chat="person2">
    <div class="user">
        <img src="https://www.bootdey.com/img/Content/avatar/avatar2.png" alt="Retail Admin">
        <span class="status away"></span>
    </div>
    <p class="name-time">
        <span class="name">Peter Gregor</span>
        <span class="time">12/02/2019</span>
    </p>
</li>


<div class="selected-user">
    <span>To: <span class="name">Emily Russell</span></span>
</div>


<li class="chat-left">
    <div class="chat-avatar">
        <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
        <div class="chat-name">Russell</div>
    </div>
    <div class="chat-text">Hello, I'm Russell.
        <br>How can I help you today?</div>
    <div class="chat-hour">08:55 <span class="fa fa-check-circle"></span></div>
</li>


<li class="chat-right">
    <div class="chat-hour">08:59 <span class="fa fa-check-circle"></span></div>
    <div class="chat-text">Have you faced any problems at the last phase of the project?</div>
    <div class="chat-avatar">
        <img src="https://www.bootdey.com/img/Content/avatar/avatar4.png" alt="Retail Admin">
        <div class="chat-name">Jin</div>
    </div>
</li>